<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new User</title>
</head>
<body>
<br>
<form th:method="post" th:action="@{/admin/create-user}" th:object="${userCr}">
    <label for="username"> Username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <br/>
    <label for="password"> Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label>Select role:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:value="${role.getId()}"
               th:text="${role.getRole().replace('ROLE_', '') + ' '}"
               th:field="*{roles}"
        />
    </label>
    <br/>
    <input type="submit" value="Add"/>
</form>
<br>
<br>
<a href="/users">Back to user's list</a>
<form th:action="@{/logout}" th:method="GET" >
    <button type="submit">Logout</button>
</form>
</body>
</html>